---
import Layout from '../layouts/Layout.astro';

import ContactSection from '../components/ContactSection.astro';

import '../styles/home.css'

import WorkforceManagement from '../components/vectors/WorkforceManagement.astro';
import Schedule from '../components/vectors/Schedule.astro';
import Attendance from '../components/vectors/Attendance.astro';
import TaskManagement from '../components/vectors/TaskManagement.astro';
import Timesheet from '../components/vectors/Timesheet.astro';
import Star from '../components/vectors/Star.astro'

import SmartphoneHand from '../components/vectors/SmartphoneHand.astro';
import Mindfull from '../components/vectors/Mindfull.astro'
import Scale from '../components/vectors/Scale.astro'
import TeamPerformance from '../components/vectors/TeamPerformance.astro'
import Payroll from '../components/vectors/Payroll.astro'

import { Image } from "astro:assets"
import BSCAA from "../assets/clients/BSCAA.png"
import Capterra from "../assets/clients/Capterra.png"
import FM from "../assets/clients/FM.png"
import Inclean from "../assets/clients/Inclean.png"
import ISSACleaning from "../assets/clients/ISSA-Cleaning.png"
import ProCleaningAcademy from "../assets/clients/Professional-Cleaning-Academy.png"
import Soway from "../assets/clients/Soway.png"
---

<Layout title="FreshOps - Scale your cleaning business by automating scheduling.">
    <section class="intro">
        <div class="base_width">
            <div class="content reveal">
                <h1><span>Clean up with</span>FreshOps.</h1>

                <h2>Simplify operations. <b>Amplify results.</b><br/> Scale your commercial cleaning business.</h2>

                <a href="/contact/" class="main cta">Experience Effortless Management</a>
            </div>

            <div class="features">
                <div class="roulette reveal">
                    <div class="gradient_ctnr reveal_steps2">
                        <div class="gradient_cone external"></div>
                    </div>

                    <div class="borders">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340.85 340.85"><circle cx="170.43" cy="170.43" r="169.43" style="fill:none;opacity:.38;stroke:#eef2dd;stroke-miterlimit:10;stroke-width:2px;"/></svg>

                        <div class="scale_ctnr">
                            <svg class="dotted" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352.78 352.78"><circle cx="176.39" cy="176.39" r="171.39" style="fill:none;stroke:#eef2dd;stroke-dasharray:0 0 0 30;stroke-linecap:round;stroke-miterlimit:10;stroke-width:10px;"/></svg>
                        </div>

                        <div class="center reveal_steps2">
                            <img src="/logo/symbol.png" alt="FreshOps Symbol">
                        </div>

                        <div class="icons">
                            <button type="button" title="Workforce Management">
                                <div class="spin_ctnr reveal_steps2">
                                    <WorkforceManagement/>
                                </div>
                            </button>

                            <button type="button" title="Scheduling & Rostering">
                                <div class="spin_ctnr reveal_steps2">
                                    <Schedule/>
                                </div>
                            </button>

                            <button type="button" title="Time & Attendance">
                                <div class="spin_ctnr reveal_steps2">
                                    <Attendance/>
                                </div>
                            </button>

                            <button type="button" title="Task Management">
                                <div class="spin_ctnr reveal_steps2">
                                    <TaskManagement/>
                                </div>
                            </button>

                            <button type="button" title="Timesheet & Payroll">
                                <div class="spin_ctnr reveal_steps2">
                                    <Timesheet/>
                                </div>
                            </button>
                        </div>

                        <div class="gradient_cone internal"></div>
                    </div>
                </div>
        
                <div class="descriptions reveal">
                    <div class="bullet">
                        <WorkforceManagement/>

                        <h3>Workforce Management</h3>

                        <p>Manage your team better by knowing when the arrive and depart site, if they are late to site or onsite now.</p>

                        <a href="#workforce-management">Learn More</a>
                    </div>
                    
                    <div class="bullet">
                        <Schedule/>

                        <h3>Scheduling & Rostering</h3>

                        <p>Schedule your Cleaning Contracts or Re-occuring Cleans once and let freshOps build the schedule for the life of the contract or years into the future.</p>

                        <a href="#scheduling-and-rostering">Learn More</a>
                    </div>
                    
                    <div class="bullet">
                        <Attendance/>

                        <h3>Time & Attendance</h3>

                        <p>Your team simply Check-In and Out of Site for easy Time & Attendance records that are then used for your team’s Timesheets. Our platform can’t be gamed, tricked or hoodwinked.</p>

                        <a href="#time-and-attendance">Learn More</a>
                    </div>
                    
                    <div class="bullet">
                        <TaskManagement/>

                        <h3>Task Management</h3>

                        <p>Schedule your scope of works or cleaning duties by individual Tasks. Your team can not only see what is required of them each day, but can verify completion of those tasks with our advanced Task Verification.</p>

                        <a href="#task-management">Learn More</a>
                    </div>
                    
                    <div class="bullet">
                        <Timesheet/>

                        <h3>Timesheet & Payroll</h3>

                        <p>No more chasing Timesheets and having to question every item. freshOps pulls Timesheet records from your team Time & Attendance onsite.</p>

                        <a href="#timesheet-and-payroll">Learn More</a>
                    </div>

                    <script>
                        import '../scripts/description-carousel.js'
                    </script>
                </div>
            </div>
        </div>

       <svg class="bottom_mask" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 269.66"><path style="fill:#fff;stroke-width:0px;" d="m1656.43,246.6c-187.03-10.82-447.99-22.63-696.43-22.63C501.35,223.97,0,264.22,0,264.22v5.44h1920V0h-.03c-1.23,142.24-121.24,254.84-263.54,246.6Z"/></svg>
    </section>

    <section class="benefits">
        <div class="overflow_ctnr">
            <div class="scale_ctnr">
                <div class="gradient_cone"></div>
            </div>
        </div>

        <div class="ctnr">
            <h2 class="reveal">Benefits of using <b>FreshOps</b></h2>

            <ol>
                <li>
                    <div class="reveal_steps1 ctnr">
                        <div class="icon_ctnr">
                            <div class="gradient_cone"></div>
                            <SmartphoneHand/>
                        </div>
    
                        <div class="content">
                            <h4>1. Full Operational Control</h4>
    
                            <p>Manage your team better by knowing when the arrive and depart site, if they are late to site or onsite now.</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="reveal_steps1 ctnr">
                        <div class="icon_ctnr">
                            <div class="gradient_cone"></div>
                            <Mindfull/>
                        </div>

                        <div class="content">
                            <h4>2. Ultimate Peace of Mind</h4>

                            <p>Eliminate guesswork and build trust with transparent, real-time updates. Know exactly when, where, and how your team is performing.</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="reveal_steps1 ctnr">
                        <div class="icon_ctnr">
                            <div class="gradient_cone"></div>
                            <Scale/>
                        </div>

                        <div class="content">
                            <h4>3. Scale with Ease</h4>
                            
                            <p>With streamlined processes and insights, grow your business confidently and efficiently.</p>
                        </div>
                    </div>
                </li>
                
                <li>
                    <div class="reveal_steps1 ctnr">
                        <div class="icon_ctnr">
                            <div class="gradient_cone"></div>
                            <TeamPerformance/>
                        </div>

                        <div class="content">
                            <h4>4. Enhance Team Performance</h4>

                            <p>Empower your cleaners with clear guidelines, feedback, and recognition, fostering a culture of excellence.</p>
                        </div>
                    </div>
                </li>
                
                <li>
                    <div class="reveal_steps1 ctnr">
                        <div class="icon_ctnr">
                            <div class="gradient_cone"></div>
                            <Payroll/>
                        </div>

                        <div class="content">
                            <h4>5. Seamless Payroll & Reporting</h4>

                            <p>Say goodbye to tedious timesheet management. Experience smooth payroll processes and accurate financial reporting.</p>
                        </div>
                    </div>
                </li>
            </ol>

            <a href="/contact/" class="cta">Try <b>FreshOps</b> for Free</a>
        </div>
    </section>
    
    <section class="features">
        <svg class="curve start" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 607.13 20"><path d="m307.64,0C158.92,0,6.49,19.17,0,20h607.13c-5.89-.79-150.62-20-299.49-20Z"/></svg>

        <div class="base_width">
            <h2>Designed for Tomorrow's <b>Cleaning Businesses</b></h2>

            <ul>
                <li class="reveal_steps2" id="workforce-management">
                    <div class="gradient_cone"></div>

                    <div class="content">
                        <WorkforceManagement type="gradient"/>
    
                        <h3>Workforce Management</h3>
    
                        <p>Live <b>performance</b> updates</p>
    
                        <p>Complete activity records <b>without check-ups</b></p>
                    </div>
                </li>
                
                <li class="reveal_steps2" id="scheduling-and-rostering">
                    <div class="gradient_cone"></div>

                    <div class="content">
                        <Schedule type="gradient"/>
    
                        <h3>Scheduling & Rostering</h3>
    
                        <p>Intuitive <b>calendar system</b></p>
    
                        <p>Seamless task <b>checklist management</b></p>
                    </div>
                </li>
                
                <li class="reveal_steps2" id="time-and-attendance">
                    <div class="gradient_cone"></div>

                    <div class="content">
                        <Attendance type="gradient"/>
    
                        <h3>Time & Attendance</h3>
    
                        <p>Accurate <b>start</b> and <b>exit times</b></p>
    
                        <p><b>Real-time</b> productivity insights</p>
                    </div>
                </li>
                
                <li class="reveal_steps2" id="task-and-management">
                    <div class="gradient_cone"></div>

                    <div class="content">
                        <TaskManagement type="gradient"/>
    
                        <h3>Task & Management</h3>
    
                        <p>Efficiently <b>create, schedule, and monitor</b> tasks</p>
    
                        <p><b>Real-time</b> updates and alerts</p>
                    </div>
                </li>
                
                <li class="reveal_steps2" id="timesheet-and-payroll">
                    <div class="gradient_cone"></div>

                    <div class="content">
                        <Timesheet type="gradient"/>
    
                        <h3>Timesheet & Payroll</h3>
    
                        <p>Automatic <b>timesheet generation</b></p>
    
                        <p>Seamless <b>Xero integration</b> for payroll</p>
                    </div>
                </li>
            </ul>

            <a href="/contact/" class="cta">Experience Effortless Management</a>
        </div>

        <svg class="curve end" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 607.13 20"><path d="m307.64,0C158.92,0,6.49,19.17,0,20h607.13c-5.89-.79-150.62-20-299.49-20Z"/></svg>
    </section>

    <section class="testimonials">
        <h2>What they say about <b>FreshOps</b></h2>
        
        <script>
            import "../scripts/tiny-slider.js"
            import "../styles/tiny-slider.css"
        </script>

        <div class="slider">
            <div class="box">
                <div class="ctnr">
                    <img class="photo" src="" alt="s avatar"/>
    
                    <div class="content">
                        <blockquote>
                                <p>"I've never felt more in control of my operations. freshOps has been a game-changer for my cleaning business."</p>
                        </blockquote>
                        
                        <p class="author">Jane D., Manchester</p>
                    </div>
                </div>
            </div>
            
            <div class="box">
                <div class="ctnr">
                    <img class="photo" src="" alt="s avatar"/>
    
                    <div class="content">
                        <blockquote>
                                <p>"I've never felt more in control of my operations. freshOps has been a game-changer for my cleaning business."</p>
                        </blockquote>
                        
                        <p class="author">Jane D., Manchester</p>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="ctnr">
                    <img class="photo" src="" alt="s avatar"/>
    
                    <div class="content">
                        <blockquote>
                                <p>"I've never felt more in control of my operations. freshOps has been a game-changer for my cleaning business."</p>
                        </blockquote>
                        
                        <p class="author">Jane D., Manchester</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="clients">
            <Image src={BSCAA} alt="BSCAA" draggable="false"/>
            <Image src={Capterra} alt="Capterra" draggable="false"/>
            <Image src={FM} alt="FM" draggable="false"/>
            <Image src={Inclean} alt="Inclean" draggable="false"/>
            <Image src={ISSACleaning} alt="ISSA Cleaning" draggable="false"/>
            <Image src={ProCleaningAcademy} alt="Professional Cleaning Academy" draggable="false"/>
            <Image src={Soway} alt="Soway" draggable="false"/>
        </div>

        <div class="ranks">
            <div class="rank">
                <div class="stars">
                    <Star/>
                    <Star/>
                    <Star/>
                    <Star/>
                    <Star/>
                </div>

                <p>SaaSReview.co.uk</p>
            </div>
        </div>
    </section>

    <section class="pricing">
        <h2>Discover Our Plans</h2>

        <div class="plans reveal">
            <div class="plan basic">
                <h3>Basic</h3>
                <p class="subheading">Suitable for the simplest needs</p>
                <hr>

                <div class="bullets">
                    <p>Lorem ipsum dolor sit</p>
                    <hr>
                    <p>consectetur adipiscing elit, sed do eiusmod</p>
                    <hr>
                    <p>tempor incididunt ut labore et dolore magna</p>
                    <hr>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                
                <a href="/contact/" class="cta">Sign up now</a>
            </div>

            <div class="plan premium">
                <h3>Premium</h3>
                <p class="subheading">Suitable for the simplest needs</p>
                <hr>

                <div class="bullets">
                    <p>Lorem ipsum dolor sit</p>
                    <hr>
                    <p>consectetur adipiscing elit, sed do eiusmod</p>
                    <hr>
                    <p>tempor incididunt ut labore et dolore magna</p>
                    <hr>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                
                <a href="/contact/" class="cta">Sign up now</a>
            </div>

            <div class="plan enterprise">
                <h3>Enterprise</h3>
                <p class="subheading">Suitable for the simplest needs</p>
                <hr>

                <div class="bullets">
                    <p>Lorem ipsum dolor sit</p>
                    <hr>
                    <p>consectetur adipiscing elit, sed do eiusmod</p>
                    <hr>
                    <p>tempor incididunt ut labore et dolore magna</p>
                    <hr>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                
                <a href="/contact/" class="cta">Sign up now</a>
            </div>
        </div>
    </section>

    <div class="contact_sec_ctnr">
        <ContactSection/>
    </div>

    <section class="presentation">
        <div class="base_width">
            <h2>How <b>FreshOps revamped operations</b> at a renowned London commercial space.</h2>

            <p>The challenges faced, solutions provided by freshOps, and the astounding results achieved.</p>

            <div class="video_ctnr"></div>
        </div>
    </section>
</Layout>